h1 { 
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
} 
h3 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p { 
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
     font-size: 14px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 20px; 
    }

blockquote { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

a:hover {
    color: #bdbdbd;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
     font-size: 14px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 20px; 
}

label {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
     font-size: 14px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 20px;

}

.form-outline .form-control {
    min-height: auto;
    padding: .33em .75em;
    border: 0;
    background: #fbfbfb;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.form-check-input[type=checkbox] {
    border-radius: .125rem;
}

.form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: #bdbdbd;
}
.form-check-input:checked {
    border-color: #bdbdbd;
}

.card{
    background-color: #6A1B9A;
    color: #ffffff;
}

.cardtitle-white{
    color: #ffffff;
}

.card-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300; 
}

